.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper-form{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 5px;
    flex-wrap: wrap;
}
.title-form{
    flex: 0 0 100%;
    justify-content: center;
    display: flex;
}
.user-name{
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    flex: 0 0 50%;
    opacity: 0.7;
    transition: all .5s ease;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    justify-content: center;
    display: flex;
    text-align: center;
}
.user-name:hover{
    opacity: 1;
}
.submit-button{
    padding: 10px 10px;
    background: black;
    color: white;
    border-radius: 5px;
    margin: 20px;
    flex: 0 0 40%;
    justify-content: center;
    display: flex;
    border: none;
    opacity: 0.7;
    transition: all .5s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.submit-button:hover{
    cursor: pointer;
    opacity: 1;
}